Master-Page/Master Page Design/Connected Services/JobSeekerServiceReference/MyDBService.Entity.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MyDBService.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MyDBService.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfListing">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Listing" nillable="true" type="tns:Listing" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListing" nillable="true" type="tns:ArrayOfListing" />
  <xs:complexType name="Listing">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:int" />
      <xs:element minOccurs="0" name="Catergories" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExperienceRequried" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Expiration" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HideOrganisation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Level" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Overview" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QualificationsRequired" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Requirements" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Responsibilities" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SalaryRangeEnd" type="xs:double" />
      <xs:element minOccurs="0" name="SalaryRangeStart" type="xs:double" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Vacancy" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Listing" nillable="true" type="tns:Listing" />
</xs:schema>