Master-Page/Master Page Design/Connected Services/JobSeekerServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/MyDBService" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/MyDBService.Entity" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MyDBService" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MyDBService" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllListing">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllListingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MyDBService.Entity" minOccurs="0" name="GetAllListingResult" nillable="true" type="q3:ArrayOfListing" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListingById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListingByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MyDBService.Entity" minOccurs="0" name="GetListingByIdResult" nillable="true" type="q4:Listing" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateListing">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="experienceRequired" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="salaryRangeStart" type="xs:double" />
        <xs:element minOccurs="0" name="salaryRangeEnd" type="xs:double" />
        <xs:element minOccurs="0" name="overview" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="responsibilities" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="requirements" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="level" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="qualificationsRequired" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="catergories" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="expiration" type="xs:dateTime" />
        <xs:element minOccurs="0" name="vacancy" type="xs:int" />
        <xs:element minOccurs="0" name="hideOrganisation" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="createdDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Active" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateListingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateListingResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>